<header class="h-14 bg-white flex items-center justify-between px-4 ">

    <!-- left -->
     <div>
        <button (click)="onToggle()" class="p-2 rounded hover:bg-slate-100">
            <lucide-icon class="w-5 h-5" name="menu"></lucide-icon>
        </button>

        <span class="text-gray-800 font-semibold">
            Dashboard
        </span>
    </div>

    <!-- right -->
     <div class="flex items-center grap-4">
        <span class="text-sm text-gray-800 grap-2">
            Claye M.
        </span>

        <button class="p-2 rounded-full mx-2 bg-slate-100">
            <lucide-icon name="user" class="w-5 h-5"></lucide-icon>
        </button>
     </div>
</header>